extend layout 

block content 
  h1= title 
  pre#result 
  button(onclick='show()') ガチャを回す
  #bottom
    a(href='https://www.matsuyafoods.co.jp/matsunoya/menu/') メニュー
    はこちら (※朝メニューは除く)
  script(src='/javascripts/menu_list.js', charset='UTF-8')
  script(src='/javascripts/morning_list.js', charset='UTF-8')
  script(src='/javascripts/index.js', charset='UTF-8')
    