extend layout 

block variables
  - var title = index_title

block body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid.justify-content-center.row-cols-auto 
      a.navbar-brand= index_title
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-center.row-cols-auto
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(href='#', aria-current="page") ガチャ
          li.nav-item
            a.nav-link(href='calendar.html') カレンダー
          //- li.nav-item
          //-   a.nav-link(href='/about') このサイトについて      
  #main.container
    .row.justify-content-center.row-cols-auto.mt-5
      .col
        #result
          | ↓　「ガチャを回す」ボタンを押してください
    #gacha.fixed-bottom.mb-5
      .row.justify-content-center.row-cols-auto
        .col
          .form-check.form-switch
            input(type="checkbox")#low-calorie.form-check-input
            label(for="low-calorie").form-check-label 1500kcal 以下に抑える
      .row.justify-content-center.row-cols-auto.mt-2
        .col
          button(onclick='show()').btn.btn-primary ガチャを回す
      .row.justify-content-center.row-cols-auto.mt-2
        .col
          a(href='https://www.matsuyafoods.co.jp/matsunoya/menu/') メニュー
          はこちら (※朝メニューは除く)
  script(src='./javascripts/menu_list.js', charset='UTF-8')
  script(src='./javascripts/morning_list.js', charset='UTF-8')
  script(src='./javascripts/index.js', charset='UTF-8')
