extend layout 

block variables
  - var title = index_title

block body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid.justify-content-center.row-cols-auto 
      a.navbar-brand= index_title
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-center.row-cols-auto
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(href='#', aria-current="page") ガチャ
          li.nav-item
            a.nav-link(href='calendar.html') カレンダー
          //- li.nav-item
          //-   a.nav-link(href='/about') このサイトについて      
  #main.container
    .row.justify-content-center.row-cols-auto.mt-5
      .col
        #result
          | ↓　「ガチャを回す」ボタンを押してください
    #gacha.sticky-bottom.mb-5
      #options
        .row.justify-content-center.row-cols-auto
          .col 
            span 対象を絞る
        .row.justify-content-center.row-cols-auto
          .col#set-menu-col
            .form-check.form-switch
              input(type="checkbox")#set-menu.form-check-input
              label(for="set-menu").form-check-label 定食
          .col#bowl-menu-col
            .form-check.form-switch
              input(type="checkbox")#bowl-menu.form-check-input
              label(for="bowl-menu").form-check-label 丼
          .col#curry-menu-col
            .form-check.form-switch
              input(type="checkbox")#curry-menu.form-check-input
              label(for="curry-menu").form-check-label カレー
        .row.justify-content-center.row-cols-auto
          .col
            .form-check.form-switch
              input(type="checkbox")#low-calorie.form-check-input
              label(for="low-calorie").form-check-label 1500kcal 以下に抑える
        .row.justify-content-center.row-cols-auto
          .col
            .form-check.form-switch
              input(type="checkbox")#should-price.form-check-input
              label(for="low-calorie").form-check-label 金額を厳密にする
        .row.justify-content-center.row-cols-auto 
          .col 
            label(for="price-range").form-label
            input(type="range", min="0", max="2000", step="100", value="1000", oninput="document.getElementById('price-value').textContent = this.value").form-range#price-range
          .col
              span#price-value 
                | 1000
              span
                | 円
      .row.justify-content-center.row-cols-auto.mt-2
        .col
          button(onclick='show()').btn.btn-primary ガチャを回す
      .row.justify-content-center.row-cols-auto.mt-2
        .col
          span 
            a(href='https://www.matsuyafoods.co.jp/matsunoya/menu/') メニュー
          span はこちら (※朝メニューは除く)
  script(src='./javascripts/menu_list.js', charset='UTF-8')
  script(src='./javascripts/morning_list.js', charset='UTF-8')
  script(src='./javascripts/index.js', charset='UTF-8')
