extend layout 

block variables
  - var title = index_title

block body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid.justify-content-center.row-cols-auto 
      a.navbar-brand= index_title
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse.justify-content-center.row-cols-auto
        ul.navbar-nav
          li.nav-item
            a.nav-link.active(href='#', aria-current="page") ガチャ
          li.nav-item
            a.nav-link(href='calendar.html') カレンダー
          //- li.nav-item
          //-   a.nav-link(href='/about') このサイトについて      
  #main.container
    .row.justify-content-center.row-cols-auto.mt-5
      .col
        #result
          | ↓　「ガチャを回す」ボタンを押してください
    #gacha.mb-5
      details#options-collapsible
        summary オプションを表示
        #options.options-panel
          .options-header
            span 対象を絞る
          .options-switches
            #set-menu-col.option-item
              .form-check.form-switch
                input(type="checkbox")#set-menu.form-check-input
                label(for="set-menu").form-check-label 定食
            #bowl-menu-col.option-item
              .form-check.form-switch
                input(type="checkbox")#bowl-menu.form-check-input
                label(for="bowl-menu").form-check-label 丼
            #curry-menu-col.option-item
              .form-check.form-switch
                input(type="checkbox")#curry-menu.form-check-input
                label(for="curry-menu").form-check-label カレー
            #morning-menu-col.option-item
              .form-check.form-switch
                input(type="checkbox")#morning-menu.form-check-input
                label(for="morning-menu").form-check-label 朝メニュー
            .option-item.option-item-wide
              .form-check.form-switch
                input(type="checkbox")#low-calorie.form-check-input
                label(for="low-calorie").form-check-label カロリーを抑える
            .option-item.option-item-wide
              .form-check.form-switch
                input(type="checkbox")#should-price.form-check-input
                label(for="should-price").form-check-label 金額を厳密にする
          .option-range
            label(for="calorie-range").form-label カロリー上限
            input(type="range", min="0", max="3000", step="100", value="1500", oninput="document.getElementById('calorie-value').textContent = this.value").form-range#calorie-range
            .option-range-value
              span#calorie-value
                | 1500
              span.unit kcal
          .option-range
            label(for="price-range").form-label 予算上限
            input(type="range", min="0", max="10000", step="100", value="1000", oninput="document.getElementById('price-value').textContent = this.value").form-range#price-range
            .option-range-value
              span#price-value
                | 1000
              span.unit 円
      .row.justify-content-center.row-cols-auto.mt-2
        .col
          button(onclick='show()').btn.btn-primary ガチャを回す
      .row.justify-content-center.row-cols-auto.mt-2
        .col
          span 
            a(href='https://www.matsuyafoods.co.jp/matsunoya/menu/') メニュー
          span はこちら (※朝メニューは除く)
  script(src='./javascripts/menu_list.js', charset='UTF-8')
  script(src='./javascripts/morning_list.js', charset='UTF-8')
  script(src='./javascripts/index.js', charset='UTF-8')
